@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');
@font-face {
  font-family: Sofia;
  src: url("/fonts/Sofia/Sofia Pro Regular Az.otf");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sofia', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #333;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

h4 {
  font-weight: 700;
  font-size: 13px;
  color: #333;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

p.big {
  font-size: 19px;
}

p.small {
  font-size: 13px;
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  height: 50px;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1.5px solid #7837F8;
}

.padding-r-1 {
  padding-right: 0;
}

.padding-l-1 {
  padding-left: 0;
}

.oneburner-btn {
  background-color: #462686;
  padding: 10px 30px !important;
  color: #fff !important;
  border-radius: 100px;
  font-size: 12px;
}

.oneburner-btn img {
  margin-left: 12px;
}

.oneburner-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.14);
  display: none;
}

section {
  padding: 40px 20px;
}

.section-title {
  color: #333;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
  p.big {
    font-size: 24px;
  }
  p.small {
    font-size: 14px;
  }
  .padding-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pad-r {
    padding-right: 20px;
  }
  .pad-l {
    padding-left: 20px;
  }
  section {
    padding: 70px 30px;
  }
  .oneburner-btn {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h3 {
    font-size: 38px;
    line-height: 48px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    line-height: 32px;
  }
  p.small {
    font-size: 15px;
  }
  .pad-r {
    padding-right: 30px;
  }
  .pad-l {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1300px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  h2 {
    font-size: 45px;
    line-height: 50px;
  }
  h3 {
    font-size: 40px;
  }
  .padding-head {
    padding-left: 48px;
    padding-right: 48px;
  }
  .pad-r {
    padding-right: 50px;
  }
  .pad-l {
    padding-left: 50px;
  }
  .oneburner-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 72px;
    line-height: 72px;
  }
  h2 {
    font-size: 50px;
    line-height: 60px;
  }
  p {
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
  .padding-head {
    padding-left: 78px;
    padding-right: 78px;
  }
}

@media (min-width: 1500px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
  }
}

@media (min-width: 1900px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1640px;
  }
  .oneburner-container {
    max-width: 1540px;
    margin: 0 auto;
  }
}

nav {
  background-color: #fff;
  z-index: 2;
}

nav .navbar-brand img {
  width: 130px;
}

nav .navbar-collapse {
  background-color: #fff;
}

nav .nav-item a {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #454545;
}

nav .nav-item:hover a {
  color: #462686 !important;
}

nav .nav-item:hover .oneburner-dropdown__menu {
  display: block;
}

nav .nav-item:hover .dropdown-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-item .dropdown-icon {
  margin-left: 4px;
}

nav .oneburner-dropdown__menu {
  position: absolute;
  display: none;
  top: 70px;
  background-color: #fff;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 20px 20px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px -6px rgba(0, 0, 0, 0.2);
  height: 330px;
  z-index: 20;
}

nav .oneburner-dropdown__menu.hide {
  display: none;
}

nav .oneburner-dropdown__menu .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav .oneburner-dropdown__menu .body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav .oneburner-dropdown__menu .body .content .details {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  nav .nav-item a {
    font-size: 14px;
  }
  nav .oneburner-dropdown__menu {
    height: 320px;
  }
  nav .oneburner-dropdown__menu .body {
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 992px) {
  nav {
    height: 100px;
  }
  nav .nav-item {
    margin: 0 12px;
  }
  nav .nav-item .dropdown-icon {
    margin-left: -4px;
  }
  nav .nav-item .oneburner-btn {
    margin-top: -5px;
  }
  nav .navbar-brand img {
    width: 140px;
  }
  nav .oneburner-dropdown__menu {
    top: 73.6px;
    height: 250px;
  }
  nav .oneburner-dropdown__menu .body {
    margin-right: 152px;
  }
}

@media screen and (min-width: 1024px) {
  nav .nav-item a {
    font-size: 16px;
  }
  nav .navbar-brand img {
    width: 150px;
  }
}

@media screen and (min-width: 1300px) {
  nav .nav-item {
    margin: 0 16px;
  }
}

@media screen and (min-width: 1600px) {
  nav .nav-item a {
    font-size: 20px;
  }
  nav .navbar-brand img {
    width: 270px;
  }
}

footer .content {
  padding: 20px 0;
  border-top: 1px solid rgba(69, 69, 69, 0.13);
  text-align: center;
}

footer .content p {
  color: rgba(1, 0, 29, 0.6);
}

footer.login-section {
  text-align: center;
}

footer.login-section .content {
  border: none;
}

@media screen and (min-width: 768px) {
  footer .content {
    text-align: left;
  }
}

.hero {
  color: #333;
}

.hero .content.left-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero .content.left-side p {
  margin: 30px 0;
  max-width: 460px;
}

.hero .content.left-side button {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.hero.enterprise h1 {
  max-width: 770px;
}

.hero.enterprise .container {
  position: relative;
}

.hero.enterprise .container .bg {
  position: absolute;
  top: -50px;
  left: 0;
  display: none;
}

.hero.enterprise .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero.enterprise .left-side p {
  max-width: inherit;
}

@media screen and (min-width: 768px) {
  .hero .content.left-side {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .hero .content.left-side button {
    height: 62px;
  }
  .hero.enterprise {
    margin-bottom: 150px;
  }
  .hero.enterprise .container .bg {
    top: -70px;
    display: block;
  }
  .hero.enterprise .left-side {
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero.enterprise .left-side {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1300px) {
  .hero.enterprise h1 {
    max-width: 900px;
  }
  .hero.enterprise .left-side {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .hero .content.left-side button {
    height: 72px;
  }
}

.brands {
  -webkit-box-shadow: 0 10px 15px -17px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px -17px rgba(0, 0, 0, 0.2);
}

.brands p {
  color: #01001D;
  margin-bottom: 20px;
}

.brands-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-logos .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.brands-logos .logo img {
  max-width: 150px;
}

@media screen and (min-width: 768px) {
  .brands p {
    margin-bottom: 30px;
  }
}

.intro {
  -webkit-box-shadow: 0 20px 20px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px -6px rgba(0, 0, 0, 0.2);
}

.intro .navs {
  border: 1px solid #454545;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro .navs li {
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.intro .navs li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}

.intro .navs li:last-child {
  margin: 0;
}

.intro .navs li a {
  color: #454545;
  font-size: 13px;
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.intro .navs li a:hover {
  text-decoration: none;
}

.intro .navs li.active {
  background-color: #462686;
}

.intro .navs li.active a {
  color: #fff;
}

.intro .bottom-content {
  margin-top: 30px;
}

.intro .bottom-content .left-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .bottom-content .left-side h3 {
  max-width: 450px;
}

.intro .bottom-content .left-side p {
  margin-top: 10px;
}

.intro .bottom-content .right-side img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro .bottom-content .right-side img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

@media screen and (min-width: 768px) {
  .intro .navs {
    height: 59px;
  }
  .intro .navs li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: inherit;
  }
  .intro .navs li:first-child {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    margin: 0;
  }
  .intro .navs li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
  }
  .intro .bottom-content {
    margin-top: 100px;
  }
  .intro .bottom-content .left-side {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .intro .bottom-content .left-side p {
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .intro .navs li a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .intro .navs li a {
    font-size: 20px;
  }
}

.more .content {
  margin-bottom: 20px;
}

.more .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .more .text {
    text-align: left;
  }
}

.integrations .title-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.integrations .title-container .section-title {
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
}

.integrations .logos-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.integrations .logos-layer .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px;
}

.integrations .logos-layer .logo img {
  width: 30px;
}

.integrations.enterprise {
  padding-top: 200px;
}

@media screen and (min-width: 768px) {
  .integrations .logos-layer .logo img {
    width: 50px;
  }
}

.skip {
  background-color: #7837F8;
}

.skip .container {
  height: 100%;
}

.skip .container .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.skip .container .content h2 {
  color: #fff;
}

.skip .container .content p {
  margin: 10px 0 25px 0;
}

.skip .container .content button {
  -webkit-box-shadow: 10px 10px 24px rgba(35, 9, 88, 0.15);
          box-shadow: 10px 10px 24px rgba(35, 9, 88, 0.15);
}

@media screen and (min-width: 768px) {
  .skip {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .skip {
    height: 400px;
  }
  .skip .container .content button {
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .skip {
    height: 510px;
  }
  .skip .container .content button {
    font-size: 18px;
  }
}

.support .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support .left-side .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  cursor: pointer;
  background-color: #fff;
}

.support .left-side .contacts .contact img {
  width: 20px;
}

.support .left-side .support-img {
  width: 200px;
  height: 200px;
}

.support .right-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .support .left-side .contacts .contact img {
    width: 35px;
  }
  .support .left-side .support-img {
    margin-left: 40px;
    width: 300px;
    height: 300px;
  }
  .support .right-side {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .support .left-side .contacts .contact img {
    width: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .support .left-side .contacts .contact img {
    width: 48px;
  }
}

.footer p {
  color: #454545;
}

.footer p.get-in-touch {
  color: rgba(1, 0, 29, 0.6);
}

.footer p.terms-privacy {
  margin-top: -15px;
  color: rgba(1, 0, 29, 0.6);
}

.footer p.phone {
  margin-top: -15px;
  color: #333;
}

.footer .social-icons {
  margin-top: 30px;
}

.footer .social-icons img {
  width: 28px;
  margin: 0 5px;
}

.footer .form-select {
  position: relative;
  width: 200px;
}

.footer .form-select .select-dropdown .dropbtn {
  background-color: #fff;
  border: 2px solid #462686;
  color: #462686;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .form-select .select-dropdown .dropbtn span {
  margin-left: -30px;
}

.footer .form-select .select-dropdown .dropbtn:hover, .footer .form-select .select-dropdown .dropbtn:focus {
  border-radius: 0;
}

.footer .form-select .select-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 200px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  padding-left: 45px;
}

.footer .form-select .select-dropdown .dropdown-content.show {
  display: block;
}

.footer .form-select .select-dropdown .dropdown-content a {
  color: #462686;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.footer .form-select .select-dropdown a:hover {
  background-color: #ddd;
}

.footer .form-select .world {
  position: absolute;
  left: 28px;
  top: 11px;
  cursor: pointer;
}

.footer .form-select .dropdown-icon {
  position: absolute;
  right: 28px;
  top: 19px;
  cursor: pointer;
}

.footer .form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.footer .content {
  text-align: center;
}

.footer .content .logo {
  width: 130px;
  margin-bottom: 30px;
}

.footer .content .title {
  color: #455a64;
  font-weight: bold;
  text-align: center;
}

.footer .content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -10px;
}

.footer .content ul li {
  margin-bottom: 10px;
}

.footer .content ul li a {
  color: rgba(1, 0, 29, 0.6);
  font-size: 13px;
}

.footer .content.toggleable {
  margin-bottom: 30px;
}

.footer .content.toggleable img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer .content.toggleable .title.active img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer .content.toggleable ul {
  display: none;
}

.footer .content.toggleable ul.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer .form {
    text-align: inherit;
    float: right;
    margin-top: 0;
  }
  .footer .content {
    text-align: inherit;
  }
  .footer .content .logo {
    width: 180px;
  }
  .footer .content .title {
    text-align: left;
  }
  .footer .content ul {
    text-align: left;
    margin-top: 0;
  }
  .footer .content ul li a {
    font-size: 14px;
  }
  .footer .content.toggleable {
    margin-bottom: 0;
  }
  .footer .content.toggleable .dropdown-icon {
    display: none;
  }
  .footer .content.toggleable ul {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .footer .content .logo {
    width: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .footer .social-icons img {
    width: 32px;
  }
  .footer .content .logo {
    width: 150px;
  }
  .footer .content ul li a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .footer .content .logo {
    width: 270px;
  }
  .footer .content ul li a {
    font-size: 16px;
  }
}

.awards {
  margin-bottom: 40px;
  background-color: #7837F8;
  color: #fff;
  padding-bottom: 250px;
}

.awards .body {
  position: relative;
  height: 100%;
}

.awards h3 {
  margin-bottom: 40px;
}

.awards .right-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.awards .right-side ul li {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
}

.awards .right-side ul li img {
  width: 25px;
  margin-right: 10px;
}

.awards .floating {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 90px;
  text-align: center;
}

.awards .floating-content {
  padding: 30px 10px;
  background: #fff;
  -webkit-box-shadow: 0px 20px 40px rgba(51, 51, 51, 0.13);
          box-shadow: 0px 20px 40px rgba(51, 51, 51, 0.13);
  border-radius: 10px;
  color: #333;
  max-width: 1139px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards .floating-content p {
  margin-top: -30px;
}

.awards .floating-content img {
  width: 150px;
}

@media screen and (min-width: 561px) {
  .awards {
    padding-bottom: 200px;
    margin-bottom: 0;
  }
  .awards .floating {
    margin-top: 80px;
    text-align: inherit;
  }
}

@media screen and (min-width: 768px) {
  .awards .right-side {
    margin-left: 50px;
  }
  .awards .right-side ul li {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .awards .right-side {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .awards .right-side ul li {
    line-height: 32px;
  }
}

@media screen and (min-width: 1600px) {
  .awards .right-side ul li {
    font-size: 20px;
  }
}

.regional {
  background-color: rgba(204, 204, 204, 0.1);
}

.regional h3 {
  margin-bottom: 20px;
}

.regional .paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.regional .paragraph p {
  color: #454545;
  max-width: 900px;
}

.regional img {
  max-width: 100%;
  max-height: 650px;
}

@media screen and (min-width: 768px) {
  .regional .paragraph {
    margin-bottom: 70px;
  }
}

.reviews {
  padding-bottom: 100px;
}

.reviews .content .single p {
  color: #333;
}

.reviews .content .single .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .content .single .comment p {
  max-width: 720px;
}

.reviews .content .single .comment p.big {
  font-weight: 300;
}

.reviews .content .single .profile-card {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
}

.reviews .content .single .profile-card .line {
  position: absolute;
  height: 1px;
  background: rgba(51, 51, 51, 0.2);
  width: 100%;
}

.reviews .content .single .profile-card .details {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 30px;
}

.reviews .content .single .profile-card .details img {
  width: 100px;
}

.reviews .content .single .profile-card .details .about {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
}

.reviews .content .single .profile-card .details .about p.name {
  font-weight: bold;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 120px;
  }
  .reviews .content .single .profile-card .details img {
    width: inherit;
  }
}

@media screen and (min-width: 1300px) {
  .reviews {
    padding-bottom: 135px;
  }
}

.learn {
  background-color: rgba(204, 204, 204, 0.1);
}

.learn .container {
  height: 100%;
}

.learn .container .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learn .container .content h2 {
  max-width: 750px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .learn {
    height: 300px;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 150px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.login .body {
  width: 500px;
  padding: 40px 20px 40px 20px;
  height: 100%;
  margin: 0 auto;
}

.login .body p {
  color: #454545;
}

.login .body form .form-group {
  position: relative;
}

.login .body form .form-group .icon {
  position: absolute;
  right: 8px;
  top: 40px;
  width: 20px;
}

.login .body form .form-group label {
  font-size: 11px;
}

.login .body form .form-group input {
  height: 54px;
  border-color: #01001D;
}

.login .body form button {
  width: 100%;
  margin-top: 15px;
}

.login .body .forgot-password a {
  color: #462686;
}

.login .body .or-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.login .body .or-sign .child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login .body .or-sign .child .signin-icon {
  width: 30px;
}

.login .body .or-sign .child:nth-child(2) {
  margin-left: -30px;
}

.login .body .or-sign .child:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (min-width: 768px) {
  .login .body form .form-group label {
    font-size: 14px;
  }
  .login .body .or-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
  .login .body .or-sign .child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .login .body .or-sign .child:nth-child(2) {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .login .body form .form-group label {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  .login .body form .form-group label {
    font-size: 16px;
  }
}

.contact {
  background-color: rgba(204, 204, 204, 0.1);
}

.contact .left-side {
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);
}

.contact .left-side .form-group label {
  font-size: 14px;
}

.contact .left-side .form-group input, .contact .left-side .form-group select, .contact .left-side .form-group button {
  height: 54px;
  border: 2px solid rgba(51, 51, 51, 0.8);
  border-radius: 5px;
}

.contact .left-side .form-group input:active, .contact .left-side .form-group input:focus, .contact .left-side .form-group input:hover, .contact .left-side .form-group select:active, .contact .left-side .form-group select:focus, .contact .left-side .form-group select:hover, .contact .left-side .form-group button:active, .contact .left-side .form-group button:focus, .contact .left-side .form-group button:hover {
  border-color: inherit;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .left-side .form-group textarea {
  border: 2px solid rgba(51, 51, 51, 0.8);
}

.contact .left-side .form-group button:active, .contact .left-side .form-group button:focus, .contact .left-side .form-group button:hover, .contact .left-side .form-group select:active, .contact .left-side .form-group select:focus, .contact .left-side .form-group select:hover {
  border-color: inherit;
}

.contact .left-side .form-group.phone .content, .contact .left-side .form-group.company-size .content, .contact .left-side .form-group.product-interest .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .left-side .form-group.phone .content .dropdown-menu, .contact .left-side .form-group.company-size .content .dropdown-menu, .contact .left-side .form-group.product-interest .content .dropdown-menu {
  min-width: 100% !important;
}

.contact .left-side .form-group.phone .content .dropdown-toggle::after, .contact .left-side .form-group.company-size .content .dropdown-toggle::after, .contact .left-side .form-group.product-interest .content .dropdown-toggle::after {
  display: none;
}

.contact .left-side .form-group.phone .content button, .contact .left-side .form-group.company-size .content button, .contact .left-side .form-group.product-interest .content button {
  height: 54px;
  border: 2px solid rgba(51, 51, 51, 0.8);
  color: rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 12px;
}

.contact .left-side .form-group.phone .content input, .contact .left-side .form-group.company-size .content input, .contact .left-side .form-group.product-interest .content input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.contact .left-side .form-group.phone .content button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.contact .right-side {
  padding: 20px 20px 0px 20px;
}

.contact .right-side p.contact-title {
  font-weight: bold;
}

.contact .right-side p.small {
  font-size: 11px;
}

.contact .right-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact .right-side ul li {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .contact .left-side {
    padding: 40px 20px;
  }
  .contact .left-side .d-padding-left-none {
    padding-left: 0;
  }
  .contact .left-side .d-padding-right-none {
    padding-right: 0;
  }
  .contact .left-side .allow-pad-r {
    padding-right: 7.5px;
  }
  .contact .left-side .allow-pad-l {
    padding-left: 7.5px;
  }
  .contact .right-side {
    padding: 40px 20px;
  }
  .contact .right-side p.small {
    font-size: 12px;
  }
  .contact .right-side ul li {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .contact .left-side {
    padding: 50px 70px;
  }
  .contact .left-side .form-group.phone .content button, .contact .left-side .form-group.company-size .content button, .contact .left-side .form-group.product-interest .content button {
    font-size: 14px;
  }
  .contact .left-side .form-group label {
    font-size: 15px;
  }
  .contact .right-side {
    margin-left: 50px;
    padding: 75px 20px;
  }
  .contact .right-side p.small {
    font-size: 13px;
  }
  .contact .right-side ul li {
    font-size: 13px;
  }
}

@media screen and (min-width: 1300px) {
  .contact .left-side {
    padding: 80px 120px;
  }
  .contact .right-side p.small {
    font-size: 14px;
  }
  .contact .right-side ul li {
    font-size: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .contact .left-side .form-group.phone .content button, .contact .left-side .form-group.company-size .content button, .contact .left-side .form-group.product-interest .content button {
    font-size: 16px;
  }
  .contact .left-side .form-group label {
    font-size: 16px;
  }
  .contact .right-side p.small {
    font-size: 16px;
  }
  .contact .right-side ul li {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */