// HEADINGS

h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: $black3;
}

h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

h4 {
    font-weight: 700;
    font-size: 13px;
    color: $black3;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    &.big {
        font-size: 19px;
    }

    &.small {
        font-size: 11px;
    }
}

input, textarea {
    width: 100%;
    border: 1px solid grey;
    // margin-bottom: 20px;
    height: 50px;

    &:hover, 
    &:active,
    &:focus
    {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border: 1.5px solid $secondary-color;
    }
}

.padding-r-1 {
    padding-right: 0;
}

.padding-l-1 {
    padding-left: 0;
}

.oneburner-btn {
    background-color: $primary-color;
    padding: 10px 30px !important;
    color: $white !important;
    border-radius: 100px;
    font-size: 12px;

    img {
        margin-left: 12px;
    }
}

.oneburner-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.14);
    display: none;
}

section {
    padding: 40px 20px;
}

.section-title {
    color: $black3;
}

// MEDIA QUERIES
@include media-md {
    // TExt styles
    h1 {
        font-size: 40px;
        line-height: 42px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 14px;
    }

    p {
        font-size: 18px;

        &.big {
            font-size: 24px;
        }

        &.small {
            font-size: 14px;
        }
    }

    .padding-head {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pad-r {
        padding-right: 20px;
    }

    .pad-l {
        padding-left: 20px;
    }

    section {
        padding: 70px 30px;
    }

    .oneburner-btn {
        font-size: 15px;
    }
}

@include media-lg {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 {
        font-size: 40px;
        line-height: 45px;
    }

    h3 {
        font-size: 38px;
        line-height: 48px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        line-height: 32px;

        &.small {
            font-size: 15px;
        }
    }

    .pad-r {
        padding-right: 30px;
    }

    .pad-l {
        padding-left: 30px;
    }
}

@include media-lgg {
    h1 {
        font-size: 60px;
        line-height: 60px;
    }

    h2 {
        font-size: 45px;
        line-height: 50px;
    }

    h3 {
        font-size: 40px;
    }

    .padding-head {
        padding-left: 48px;
        padding-right: 48px;
    }

    .pad-r {
        padding-right: 50px;
    }

    .pad-l {
        padding-left: 50px;
    }

    .oneburner-btn {
        font-size: 18px;
    }
}

@include media-xl {
    h1 {
        font-size: 72px;
        line-height: 72px;
    }
    h2 {
        font-size: 50px;
        line-height: 60px;
    }

    p {
        font-size: 20px;

        &.small {
            font-size: 16px;
        }
    }

    .padding-head {
        padding-left: 78px;
        padding-right: 78px;
    }
}

// BOOTSTRAP CONTAINER

@media (min-width: 1500px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1240px;
    }
}

@media (min-width: 1900px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1540px;
    }

    .oneburner-container {
        max-width: 1540px;
        margin: 0 auto;
    }
}
