footer {
    .content {
        padding: 20px 0;
        border-top: 1px solid rgba(69, 69, 69, 0.13);
        text-align: center;

        p {
            color: rgba(1, 0, 29, 0.6);
        }
    }

    &.login-section {
        text-align: center;

        .content {
            border: none;
        }
    }
}

@include media-md {
    footer {
        .content {
            text-align: left;
        }
    }
}