footer {
    .content {
        padding: 20px 0;
        border-top: 1px solid rgba(69, 69, 69, 0.13);
    }

    &.login-section {
        text-align: center;

        .content {
            border: none;
        }
    }
}