.brands {
    box-shadow: 0 10px 15px -17px rgba(0, 0, 0, .2);
    p {
        font-size: 20px;
        color: $black1;
        margin-bottom: 30px;
    }
    &-logos {
        display: flex;
        overflow: auto;
        align-items: center;
       
        .logo {
            flex: 1;

            img {
                max-width: 150px
            }
        }
    }
}

@include media-md {
    .brands {
        p {
            font-size: 24px;
        }
    }
}