.contact {
    background-color: $bg-color;
    
    .left-side {
        background-color: $white;
        padding: 20px;
        box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.08);

        .form-group {

            label {
                font-size: 14px;
            }
            input, select, button {
                height: 54px;
                border: 2px solid rgba(51, 51, 51, 0.8);
                border-radius: 5px;
                
    
                &:active, &:focus, &:hover {
                    border-color: inherit;
                    outline: none;
                    box-shadow: none;
                }
            }

            textarea {
                border: 2px solid rgba(51, 51, 51, 0.8);
            }


            button, select {
                &:active, &:focus, &:hover {
                    border-color: inherit;
                }
            }
         
            &.phone, &.company-size, &.product-interest{


                .content {
                    display: flex;

                    .dropdown-menu {
                        min-width: 100% !important;
                    }

                    .dropdown-toggle::after {
                        display: none;
                    }

                    button {
                        height: 54px;
                        border: 2px solid rgba(51, 51, 51, 0.8);
                        color: rgba(51, 51, 51, 0.4);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 5px;
                        font-size: 12px;
                    }

                    input {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left: 0;
                    }
                }
            }

            &.phone {
                .content {
                    button {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    .right-side {
        padding: 20px 20px 0px 20px;

        p.contact-title {
            font-weight: bold;
        }

        // p.small {
        //     font-size: 13px;
        // }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 13px;
            }
        }
    }
}

@include media-md {
    .contact {
        .left-side {
            padding: 40px 20px;
            
            .d-padding-left-none {
                padding-left: 0;
            }
            .d-padding-right-none {
                padding-right: 0;
            }

            .allow-pad-r {
                padding-right: 7.5px;
            }

            .allow-pad-l {
                padding-left: 7.5px;
            }
        }

        .right-side {
            padding: 40px 20px;

            // p.small {
            //     font-size: 14px;
            // }

            ul {
    
                li {
                    font-size: 12px;
                }
            }
        }
    }
}

@include media-lg {
    .contact {
        .left-side {
            padding: 50px 70px;
            .form-group {

                &.phone, &.company-size, &.product-interest{
                    .content {
    
                        button {
                            font-size: 14px;
                        }
                    }
                }

                label {
                    font-size: 15px;
                }
            }
        }
        .right-side {
            margin-left: 50px;
            padding: 75px 20px;

            // p.small {
            //     font-size: 13px;
            // }

            ul {
    
                li {
                    font-size: 13px;
                }
            }
        }
    }
}

@include media-lgg {
    .contact {
        .left-side {
            padding: 80px 120px;
        }

        .right-side {

            // p.small {
            //     font-size: 14px;
            // }

            ul {
    
                li {
                    font-size: 14px;
                }
            }
        }
    }
}

@include media-xl {
    .contact {
        .left-side {
            .form-group {

                &.phone, &.company-size, &.product-interest{
                    .content {
    
                        button {
                            font-size: 16px;
                        }
                    }
                }

                label {
                    font-size: 16px;
                }
            }
        }

        .right-side {

            // p.small {
            //     font-size: 16px;
            // }

            ul {
    
                li {
                    font-size: 16px;
                }
            }
        }
    }
}