.hero {
    color: $black3;

    .content {
        // padding: 10px 0;

        &.left-side {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            p {
                margin: 30px 0;
                max-width: 460px;
            }

            button {
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
                
            }
        }
    }
    

    &.enterprise {
        h1 {
            max-width: 770px;
        }
        .container{
            position: relative;

            .bg {
                position: absolute;
                top: -50px;
                left:0;
                display: none;
            }
        }   
       

        .left-side {
            display: flex;
            align-items: center;
            text-align: center;

            p {
                max-width: inherit;
            }
        }
    }
}

@include media-md{
    .hero {
    
        .content {
            &.left-side {
                align-items: flex-start;
                text-align: left;

                button {
                    height: 62px;
                }
            }
        }

        &.enterprise {
            margin-bottom: 150px;
            .container{
    
                .bg {
                    top: -70px;
                    display: block;
                }
            }

            .left-side {
                margin-top: 70px;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@include media-lg{
    .hero {

        &.enterprise {
            
            .left-side {
                margin-top: 60px;
            }
        }
    }
}

@include media-lgg{
    .hero {

        &.enterprise {
            h1 {
                max-width: 900px;
            }
            
            .left-side {
                margin-top: 80px;
            }
        }
    }
}

@include media-xl {
    .hero {
    
        .content {
            &.left-side {

                button {
                    height: 72px;
                }
            }
        }
    }
}