.intro {
    box-shadow: 0 20px 20px -6px rgba(0, 0, 0, .2);
    .navs {
        border: 1px solid #454545;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;

        li {
            // flex: 1;
            width: 100%;
            height: 100%;
            margin: 0 5px;

            &:first-child{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin: 0;
            }

            &:last-child{
                margin: 0;
            }

            a {
                color: $black2;
                font-size: 13px;
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                &:hover {
                    text-decoration: none;
                }
            }

            &.active{
                background-color: $primary-color;

                a{
                    color: $white;
                }
            }
        }
    }

    .bottom-content {
        margin-top: 30px;

        .left-side {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            h3 {
                max-width: 450px
            }

            p {
                margin-top: 10px;
            }
        }

        .right-side {
            img {
                filter: brightness(0.9);
                @include transition-ease;
                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }

    
}

@include media-md {
    .intro {
        .navs {
            height: 59px;
    
            li {
                flex: 1;
                width: inherit;
                
                &:first-child{
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 0px;
                    margin: 0;
                }

                &:last-child{
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    margin: 0;
                }
            }
        }

        .bottom-content {
            margin-top: 100px;

            .left-side {
                text-align: left;
                align-items: flex-start;
    
                p {
                    margin-top: 20px;
                }
            }
        }
    }
}

@include media-md-bootstrap {
    .intro {
        .navs {
    
            li {

                a {
                    font-size: 15px;
                }
            }
        }
    }
}

@include media-lgg {
    .intro {
        .navs {
    
            li {

                a {
                    font-size: 20px;
                }
            }
        }
    }
}