.integrations {
    .section-title {
        margin-bottom: 40px;
    }
    .logos-layer {
        display: flex;
        overflow: auto;

        .logo {
            flex: 1;
            margin: 0 10px;

            img {
                width: 50px;
            }
        }
    }
}