.intro {
    box-shadow: 0 20px 20px -6px rgba(0, 0, 0, .2);
    .navs {
        border: 1px solid #454545;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;

        li {
            // flex: 1;
            width: 100%;
            height: 100%;
            margin: 0 5px;

            &:first-child{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                margin: 0;
            }

            &:last-child{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                margin: 0;
            }

            a {
                color: $black2;
                font-size: 20px;
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    text-decoration: none;
                }
            }

            &.active{
                background-color: $primary-color;

                a{
                    color: $white;
                }
            }
        }
    }

    .bottom-content {
        margin-top: 30px;

        .left-side {
            padding-right: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 30px;
                max-width: 450px
            }

            p {
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }

    
}

@include media-md {
    .intro {
        .navs {
            height: 59px;
    
            li {
                flex: 1;
                width: inherit;
            }
        }

        .bottom-content {
            margin-top: 100px;

            .left-side {
    
                h2 {
                    font-size: 40px;
                }
    
                p {
                    font-size: 20px;
                }
            }
        }
    }
}