.learn {
    background-color: $bg-color;

    .container {
        height: 100%;

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                max-width: 750px;
                margin-bottom: 50px;
            }
    
        }
    }
}

@include media-md {
    .learn {
        height: 300px;
    }
}