.more {
    .content {
        margin-bottom: 20px;
    }
    .text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@include media-md {
    .more {
        .text {
            text-align: left;
        }
    }
}