.regional {
    background-color: $bg-color;
    h2 {
        margin-bottom: 20px;
    }
    .paragraph {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        p {
            color: $black2;
            font-size: 16px;
            max-width: 900px;
        }
    }
   
    img {
        max-width: 100%;
    }
}

@include media-md {
    .regional {
        .paragraph {
            margin-bottom: 70px;
    
            p {
                font-size: 20px;
            }
        }
       
    }
}