.reviews {
    padding-bottom: 240px;
    .content {
        position: relative;

        .line {
            position: absolute;
            top: 270px;
            height: 1px;
            background: rgba(51, 51, 51, 0.2);
            width: 100%;
        }

        .comment {
            display: flex;
            justify-content: center;

            p {
                max-width: 720px;

                &.big {
                    font-weight: 300;
                }
            }
        }

        .single {
            position: absolute;
            top: 200px;
            display: flex;;
            width: 100%;
            justify-content: center;
            .profile-card {
                background-color: $white;
                width: 400px;
                display: flex;
                align-items: center;
                justify-content: center;

                .about {
                    text-align: left;
                    margin-left: 10px;

                    p.name {
                        font-weight: bold;
                    }
                }
            }
        }
    }
   
}

@include media-md {
    .reviews {
        .content {

            .comment {
                p {
                    font-size: 18px;
                }
            }
        }
       
    }
}