.reviews {
    padding-bottom: 100px;
    .content {
        .single {
            p{
                color: $black3;
            }
    
            .comment {
                display: flex;
                justify-content: center;
    
                p {
                    max-width: 720px;
    
                    &.big {
                        font-weight: 300;
                    }
                }
            }
            .profile-card {
                position: relative;
                background-color: $white;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-top: 80px;

                .line {
                    position: absolute;
                    // top: 290px;
                    height: 1px;
                    background: rgba(51, 51, 51, 0.2);
                    width: 100%;
                }

                .details {
                    position: absolute;
                    display: flex;
                    background-color: $white;
                    padding: 30px;

                    img {
                        width: 100px;
                    }

                    .about {
                        text-align: left;
                        margin-left: 10px;
                        margin-top: 30px;
    
                        p.name {
                            font-weight: bold;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}


@include media-md {
    .reviews {
        padding-bottom: 120px;
        .content {
            .single {
                .profile-card {
    
                    .details {
    
                        img {
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}

@include media-lgg {
    .reviews {
        padding-bottom: 135px;
    }
}