.skip {
    background-color: $secondary-color;

    .container {
        height: 100%;

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;

            h2 {
                color: $white;
            }

            p {
                margin: 10px 0 25px 0;
            }

            button {
                box-shadow: 10px 10px 24px rgba(35, 9, 88, 0.15);
            }
    
        }
    }
}

@include media-md {
    .skip {
        height: 300px;
    }
}

@include media-lg {
    .skip {
        height: 400px;

        .container {
    
            .content {
                button {
                    font-size: 14px;
                }
            }
        }
    }
}

@include media-xl {
    .skip {
        height: 510px;

        .container {
    
            .content {
                button {
                    font-size: 18px;
                }
            }
        }
    }
}