.skip {
    background-color: $secondary-color;

    .container {
        height: 100%;

        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 18px;
                margin: 10px 0 25px 0;
            }
    
        }
    }
}

@include media-md {
    .skip {
        height: 300px;
    
        .container {
    
            .content {
    
                h2 {
                    font-size: 40px;
                }
    
                p {
                    font-size: 24px;
                }
        
            }
        }
    }
}